body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #ff4500;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: calc(100% - 24px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e43d00;
}

.pokemon-info {
    margin-top: 20px;
}

.pokemon-info img {
    width: 150px;
    height: 150px;
}

.pokemon-info h2 {
    color: #333;
}

.pokemon-info p {
    font-size: 18px;
}
